<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover">
        <title>rekk - $title$</title>
        <link rel="stylesheet" href="/css/default.css?version=2" />
    </head>
    <body>
        <header>
            <div class="title">
                <a href="/">rekk</a>
            </div>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
    </body>
</html>
